@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  font-family: 'Poppins', serif;
  font-size: 14px;
}